@{
    ViewData["Title"] = "Help Me";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Itanhangá<br />
    Estrada de Jacarepaguá<br />
    <abbr title="Phone">P:</abbr>
    +55 9 8214-9672
</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:kariokabrs@msn.com">kariokabrs@msn.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:kariokabrs@msn.com">kariokabrs@msn.com</a>
</address>
