@{
    ViewData["Title"] = "CB";
}

<div class="jumbotron text-center jumbotron-icon">
    <h2>Este site foi</h2>
    <h1>Desenvolvido em .NET CORE</h1>

    <div class="container">
        <div class="info-icons">
            <i class="fab fa-microsoft fa-6"></i>&nbsp;&nbsp;
        </div>
    </div>
    @*<form asp-controller="Home" asp-action="Error" method="post">
            <div class="input-group">
                <input type="email" class="form-control" size="50" placeholder="Email" required>
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-danger" >Clique aqui para Peidar</button>
                </div>
            </div>
        </form>*@
</div>
<!-- Sobre -->
<div id="sobre" class="container-fluid">
    <div class="row">
        <div class="col-sm-10">
            <h2>Sobre a empresa</h2>
            <h4>Somos uma empresa especialista puramente em TI e com profissionais com mais de 10 anos no mercado desenvolvendo software de ponta seguindo as boas práticas de programação com arquitetura e segurança avançados. Aplicamos os princípios do SOLID, OOP, DRY, Separation of Concerns, puro MVC e MVVM, CQRS, GoF, Async Task e Strongly Typed.</h4><br>
            <br>@*<button class="btn btn-default btn-lg">Get in Touch</button>*@
        </div>
        <div class="col-sm-2">
            <span class="fa fa-microchip logo1"></span>
        </div>
    </div>
</div>

<div class="container-fluid bg-grey">
    <div class="row slideanim">
        <div class="col-sm-3 text-center">
            <div class="row1">
                <span class="fa fa-flag logo2"></span>
            </div>
            <div class="row2">
              <span class="fa fa-eye logo2"></span>
            </div>
        </div>
        <div class="col-sm-9">
            <h2>Valores</h2><br>
            <h4>
                <strong>Missão:</strong> Levantamento de requisitos, análise de negócios, desenvolvimento de Sistemas com tecnologias de ponta e modernas em ambientes Web, Windows e sistemas Cross-Plataforms, Linux e MAC. Integração de sistemas e plataformas com uso WCF e Web API 2, XML ou JSON. Desenvolvimento de sistemas ERP, TPM, CRM. Uso de Banco de Dados relacionais e não relacionais.
            </h4><br>
            <h4>
                <strong>Visão:</strong> Informatização, modernização, automação das regras de negócios e fluxos de trabalho, corte de custos, otimização do trabalho, melhor gestão, melhor qualidade de produtos e serviços, melhor tomada de decisão, melhor relacionamento com o cliente.
            </h4>
        </div>
    </div>
</div>

<!-- tecnologias -->
<div id="tecnologias" class="container-fluid text-center">
    <h2>Tecnologias</h2>
    <h4>Nós oferecemos</h4>
    <br>
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-off logo-small"></span>
            <h4>.NET</h4>
            <p>Universo Microsoft .NET</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-heart logo-small"></span>
            <h4>.NET CORE</h4>
            <p>A mais nova tecnologia Cross-Plataform da Microsoft</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-lock logo-small"></span>
            <h4>ASP.NET MVC</h4>
            <p>Sistema WEB em Puro MVC</p>
        </div>
    </div>
    <br><br>
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-leaf logo-small"></span>
            <h4>ASP.NET MVVM</h4>
            <p>Sistema WEB em Puro MVVM e DTO´s</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-certificate logo-small"></span>
            <h4>Entity Framework CORE</h4>
            <p>O mais novo ORM eficiência</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-wrench logo-small"></span>
            <h4 style="color:#303030;">WEB API 2</h4>
            <p>Integração entre sistemas com JSON</p>
        </div>
    </div>
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-book logo-small"></span>
            <h4>WPF</h4>
            <p>Qualidade em design para aplcações Desktop</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-apple logo-small"></span>
            <h4>UWP</h4>
            <p>A mais nova plataforma desktop da Microsoft</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-bitcoin logo-small"></span>
            <h4 style="color:#303030;">Docker</h4>
            <p>Containers para otimização e performance</p>
        </div>
    </div>
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-barcode logo-small"></span>
            <h4>SQL Server</h4>
            <p>Banco de dados avançado da Microsoft</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-alert logo-small"></span>
            <h4>MySQL</h4>
            <p>Banco de dados da Oracle para pequenos projetos</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-baby-formula logo-small"></span>
            <h4 style="color:#303030;">ORACLE</h4>
            <p>Banco de dados avançado da Oracle</p>
        </div>
    </div>
</div>

<!--Diretores -->
<div id="diretores" class="container-fluid text-center bg-grey">
    <h2>Diretores</h2><br>
    <h4>Crânios + 10/20 anos experiência</h4>
    <div class="row text-center slideanim">
        <div class="col-sm-3">
            <div class="thumbnail">
                <img src="@Url.Content("~/images/lobak.png")" alt="Lobak" width="300" height="300">
                <p><strong>Daniel Lobak</strong></p>
                <p>Zen</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="thumbnail">
                <img src="@Url.Content("~/images/willian.png")" alt="Willian" width="300" height="300">
                <p><strong>Willian Palhares</strong></p>
                <p>Doido</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="thumbnail">
                <img src="@Url.Content("~/images/sergio.jpg")" alt="Sérgio" width="300" height="300">
                <p><strong>Sérgio Rezende</strong></p>
                <p>Desligado</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="thumbnail">
                <img src="@Url.Content("~/images/rodrigo.jpg")" alt="Rodrigo" width="300" height="300">
                <p><strong>Rodrigo Camarada</strong></p>
                <p>Mulherengo</p>
            </div>
        </div>
    </div><br>

    <h2>Feedback</h2>
    <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <h4>"-Não entendi, feedback do que ??"<br><span>Sérgio Rezende, Um desligado Analista de Sistemas .NET FullStack</span></h4>
            </div>
            <div class="item">
                <h4>"-Tudo é uma gordurinha...("-Fale mais alto Lobak!)"<br><span>Daniel Lobak, Um zen Gerente de Projetos</span></h4>
            </div>
            <div class="item">
                <h4>"-Eu posso... quero que todo mundo vai tomar banho!"<br><span>Willian Palhares, Um doido Analista de Sistemas Java FullStack</span></h4>
            </div>
            <div class="item">
                <h4>"-Cara...um pombo cagou na minha camisa!"<br><span>Rodrigo Camarada, Um mulherengo Analista de Sistemas .NET BackEnd</span></h4>
            </div>
        </div>

        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<!-- Serviços -->
<div id="servicos" class="container-fluid">
    <div class="text-center">
        <h2>Preços</h2>
        <h4>Ambiente Microsoft Windows</h4>
    </div>
    <div class="row slideanim">
        <div class="col-sm-3 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading" id="ph">
                    <h1 class="text-center">Web Sites</h1>
                </div>
                <div class="panel-body">
                    <p><strong>Nº Links</strong> 5</p>
                    <p><strong>Compartilhado</strong> Sim</p>
                    <p><strong>Hospedagem</strong> Não</p>
                    <p><strong>Tecnologia</strong> ASP.NET MVC 5</p>
                    <p><strong>Implantação</strong> Sim</p>
                    <p><strong>Treinamento</strong> Sim</p>
                    <p><strong>Suporte</strong> Não</p>
                </div>
                <div class="panel-footer text-center">
                    <h4>a partir de</h4>
                    <h3>R$ 300,00</h3>
                    <h4>Fixo</h4>
                    <button class="btn btn-lg">Assinar</button>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading" id="ph">
                    <h1 class="text-center">Sis.Desktop</h1>
                </div>
                <div class="panel-body">
                    <p><strong>Tecnologia</strong> WPF</p>
                    <p><strong>Base de dados</strong> SQL Server</p>
                    <p><strong>Análise de Requisitos</strong> Sim</p>
                    <p><strong>Documentação</strong> Sim</p>
                    <p><strong>Implantação</strong> Sim</p>
                    <p><strong>Treinamento</strong> Sim</p>
                    <p><strong>Suporte</strong> Não</p>
                </div>
                <div class="panel-footer text-center">
                    <h4>a partir de</h4>
                    <h3>R$ 1000,00</h3>
                    <h4>Fixo</h4>
                    <button class="btn btn-lg">Assinar</button>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading" id="ph">
                    <h1 class="text-center">Sis.Web</h1>
                </div>
                <div class="panel-body">
                    <p><strong>Tecnologia</strong> ASP.NET CORE 2.0</p>
                    <p><strong>Base de dados</strong> SQL Server</p>
                    <p><strong>Análise de Requisitos</strong> Sim</p>
                    <p><strong>Documentação</strong> Sim</p>
                    <p><strong>Implantação</strong> Sim</p>
                    <p><strong>Treinamento</strong> Sim</p>
                    <p><strong>Suporte</strong> Não</p>
                </div>
                <div class="panel-footer text-center">
                    <h4>a partir de</h4>
                    <h3>R$ 2000,00</h3>
                    <h4>Fixo</h4>
                    <button class="btn btn-lg">Assinar</button>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading" id="ph">
                    <h1 class="text-center">Suporte</h1>
                </div>
                <div class="panel-body">
                    <p><strong>Tecnologia</strong> Sistemas</p>
                    <p><strong>24/7</strong> Sim*</p>
                    <p><strong>Remoto</strong> Sim</p>
                    <p><strong>Presencial</strong> Sim*</p>
                    <p><strong>Chamados</strong> 1/semana</p>
                    <p><strong>Tempo</strong> 2h/chamado</p>
                    <p><strong>Trilingue</strong> Sim</p>
                </div>
                <div class="panel-footer text-center">
                    <h4>a partir de</h4>
                    <h3>R$ 100,00</h3>
                    <h4>Mensal</h4>
                    <button class="btn btn-lg">Assinar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contato -->
<div id="contato" class="container-fluid bg-grey">
    <h2 class="text-center">CONTATO</h2>
    <div class="row">
        <div class="col-sm-5">
            <p>Retornaremos em até 24 horas.</p>
            <p><span class="glyphicon glyphicon-map-marker"></span> Rio de Janeiro, RJ</p>
            <p><span class="glyphicon glyphicon-phone"></span> +55 21 9 8214-9672</p>
            <p><span class="glyphicon glyphicon-envelope"></span> kariokabrs@msn.com</p>
        </div>
        <div class="col-sm-7 slideanim">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="name" name="name" placeholder="Nome" type="text" required>
                </div>
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                </div>
            </div>
            <textarea class="form-control" id="comments" name="comments" placeholder="Comentário" rows="5"></textarea><br>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <button class="btn btn-default pull-right" type="submit">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</div>

