@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Eita, deu merda!</h1>
<h2 class="text-danger">Um erro inesperado ocorreu.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Modo de Desenvolvimento</h3>
<p>
    Mudando para <strong>Desenvolvimento</strong> ambiente irá mostra mais informações do erro ocorrido.
</p>