video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    /*background: url('/images/Air-shuttle.jpg') no-repeat;*/
    background-size: cover;
    transition: 1s opacity;
}

/*.navbar-brand {
    background: url('/images/core.png') no-repeat;
    background-size: 20px 20px;
    height: 20px;
    margin: 5px;
    width: 20px;
}*/

body {
    margin-top: 80px;
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}

.jumbotron {
    opacity: 0.9;
    background-color: black;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
    -webkit-animation-name: jumbotron;
    -webkit-animation-duration: 20s;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-name: jumbotron;
    animation-duration: 20s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.jumbotron-icon .fa-6 {
    font-size: 10em;
}

@keyframes jumbotron {
    0% {
        background-color: black;
    }

    25% {
        background-color: black;
    }

    50% {
        background-color: black;
    }

    75% {
        background-color: darkgreen;
    }

    100% {
        background-color: black;
    }
}

.container-fluid {
    padding: 60px 50px;
}

.bg-grey {
    opacity: 0.9;
    background-color: whitesmoke;
}

.logo-small {
    color: black;
    font-size: 50px;
}

.logo {
    color: black;
    font-size: 200px;
    -webkit-animation-name: logo;
    -webkit-animation-duration: 20s;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-name: logo;
    animation-duration: 20s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes logo {
    0% {
        color: black;
    }

    25% {
        color: black;
    }

    50% {
        color: black;
    }

    75% {
        color: darkgreen;
    }

    100% {
        color: black;
    }
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

    .thumbnail img {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: black;
}

.carousel-indicators li {
    border-color: black;
}

    .carousel-indicators li.active {
        background-color: black;
    }

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

.panel {
    border: 1px solid black;
    border-radius: 0 !important;
    transition: box-shadow 0.5s;
}

    .panel:hover {
        box-shadow: 5px 0px 40px rgba(0,0,0, .2);
    }

.panel-footer .btn:hover {
    border: 1px solid black;
    background-color: #fff !important;
    color: black;
}

.panel-heading {
    color: #fff !important;
    background-color: black !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: white !important;
}

    .panel-footer h3 {
        font-size: 32px;
    }

    .panel-footer h4 {
        color: #aaa;
        font-size: 14px;
    }

    .panel-footer .btn {
        margin: 15px 0;
        background-color: black;
        color: #fff;
    }

.navbar {
    opacity: 0.9;
    margin-bottom: 0;
    background-color: black;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
    -webkit-animation-name: navbar;
    -webkit-animation-duration: 20s;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-name: navbar;
    animation-duration: 20s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes navbar {
    0% {
        background-color: black;
    }

    25% {
        background-color: black;
    }

    50% {
        background-color: black;
    }

    75% {
        background-color: darkgreen;
    }

    100% {
        background-color: black;
    }
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: black !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: black;
}

.slideanim {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }

    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
}

.pfooter {
    color: darkgreen;
    text-align: center;
    -webkit-animation-name: pfooter;
    -webkit-animation-duration: 10s;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-name: pfooter;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes pfooter {
    0% {
        color: black;
    }

    25% {
        color: black;
    }

    50% {
        color: black;
    }

    75% {
        color: darkgreen;
    }

    100% {
        color: black;
    }
}

.felix {
    margin-bottom: 56px;
    margin-left: 43%;
    /*/margin-right: 50%;*/
    max-width: 40px;
    max-height: 32px;
    width: 50%;
    height: 50%;
    /*-webkit-animation-name: felixcat;
    -webkit-animation-duration: 25s;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-name: felixcat;
    animation-duration: 25s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;*/
}

    .felix:hover {
        -webkit-animation-play-state: paused;
        animation-play-state: paused;
    }


@keyframes felixcat {
    0% {
        margin-left: 50%;
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }

    100% {
        margin-left: 50%;
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

i {
    opacity: 0.9;
}
