body {
    padding-top: 80px;
    padding-bottom: 20px;
    margin: 0;
    background: #000;
    overflow-y: scroll;
    /*background-image: url('/images/Air-shuttle.jpg');*/
    background-attachment: fixed;
    background-size: cover;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    /*background: url('/images/Air-shuttle.jpg') no-repeat;*/
    background-size: cover;
    transition: 1s opacity;
}
